@media (max-width: 576px) {
	
  .jumbotron > h1.display-3 {
    font-size:40px;
    line-height: 1.1;
  }

  .jumbotron p.lead a.btn {
  	font-size:70%;
    padding: 2px 4px;  	
  }
}

   /*.fc-content > .fc-time {
    font-size: 0.75em !important;
	}*/

  .fc-event-container {
	padding: 0 1px;
	font-size: 0.75em;
	}


.control-label{
  font-size: 110%;
  font-weight: bold;
}
